{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}

<div class="container" id="bookframe">
  <div class="row landing">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Welcome to Rating Rainbow!</h5>
          <hr class="my-4">
          <form>
           <div class="form-row">
             <div class="col">
               <a href="login" class="btn btn-primary btn-block text-uppercase" role="button">Log in</a>
             </div>
             <div class="col">
               <a href="register" class="btn btn-primary btn-block text-uppercase" role="button">Register</a>
             </div>
           </div>
         </form>
       </div>
     </div>
   </div>
 </div>
</div>

{% endblock %}