{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}

  <div class="container" id="bookframe">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Search</h5>
            <hr class="my-4">
            <form class="form-signin" action="/search" method="post">
              <div class="form-label-group">
                <input type="text" id="inputSearch" name="query" class="form-control" placeholder="Title, Author, ISBN, or Year" required autofocus>
                <label for="inputSearch">Title, Author, ISBN, or Year</label>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Search</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}